.secF-container {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;

  justify-content: center;
}

.right-div {
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left-div {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.center-div {
  width: 100%;
  height: 100%;
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secF-social {
  display: flex;

  flex-direction: column;

  padding: 0.5rem;
}

.secF-social a {
  padding: 0.5rem;
}

.secF-social-icon {
  color: #000;
  font-size: 1.5rem;
}

.secF-social-icon:hover {
  color: #a36429;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.MABB-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MABB-info img {
  height: 300px;
  width: 300px;
  padding: 20px;
  visibility: visible;
}

.MABB-info h1 {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 5rem;
  line-height: 50px;
}

.MABB-info h2 {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 6rem;
  line-height: 50px;
  text-transform: uppercase;
}

.MABB-info em {
  text-align: center;
  font-family: 'Nunito';
  font-style: normal;
  color: #5e3aef;
  font-weight: 600;
  display: none;
  opacity: 0;
}

.Mabb-social {
  justify-self: center;
  margin: 15px;
  padding: 10px;
}

.Mabb-graphic {
  justify-self: flex-end;
  margin: 15px;
  padding: 10px;
}

.Mabb-infinty {
  justify-self: flex-start;
  margin: 15px;
  padding: 10px;
}

.Mabb-infinty h5,
.Mabb-social h5,
.Mabb-graphic h5 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito';
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .secF-container {
    flex-direction: column;
  }

  .MABB-info img {
    height: 200px;
    width: 200px;
    padding: 10px;
  }

  .MABB-info h1 {
    font-size: 2.5rem;
    line-height: 1.5rem;
  }

  .MABB-info h2 {
    font-size: 2.5rem;
    line-height: 1.5rem;
  }

  .MABB-info em {
    font-size: 1rem;
  }

  .right-div {
    flex: 1;
  }
  .left-div {
    flex: 1;
  }
  .center-div {
    flex: 1;
  }

  .secF-social {
    flex-direction: row;
  }
}
