.Mabb-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b7916c;
  width: 100%;
  height: 100%;
}

.AboutMabb-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.about-heading h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  margin: 20px;
  /* font-family: 'Nunito'; */
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.about-text {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding: 10%;
  clear: both;
}
.Mabb-about-animation {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
