.service-conatiner {
  background-color: #ebae71;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 3%;
}

.services-heading {
  width: 100%;
  height: 100%;
}

.services-heading h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #5e3aef;
}

.srv-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.srv-animation {
  width: 100%;
  height: 100%;
  flex: 1;
}
.srv-container {
  width: 100%;
  height: 100%;

  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
